@model IEnumerable<Ogrenci>
@{
    ViewData["Title"] = "ListStudent";
}


<a class="btn btn-primary btn-danger" asp-action="AddStudent" asp asp-controller="Student">Add Student</a>
<h1>ListStudent</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Numara</th>
            <th>Bölüm</th>
            <th>Edit</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var ogr in Model)
        {
            <tr>
                <td>@ogr.Ad</td>
                <td>@ogr.Soyad</td>
                <td>@ogr.Numara</td>
                <td>@ogr.Bolum</td>
                <td>
                    <a href="/Student/UpdateStudent/@ogr.Ogrenciid" class="btn btn-sm btn-primary btn-primary">Düzenle</a>
                    <a href="/Student/DeleteStudent/@ogr.Ogrenciid" class=btn btn-outline-warning" onclick="return confirm('Emin Misiniz..')">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>



