@model Ogrenci
@{
    ViewData["Title"] = "UpdateStudent";
}

<h1>UpdateStudent</h1>

<form asp-action="UpdateStudent" asp-controller="Student" method="post">
    <input type="hidden" asp-for="Ogrenciid"/>

   
    <div>
        <label class="form-label">Ad</label>
        <input asp-for="Ad" class="form-control" />
    </div>
    <div>
        <label class="form-label">Soyad</label>
        <input asp-for="Soyad" class="form-control" />
    </div>

    <div>
        <label asp-for="Numara" class="form-label"></label>
        <input asp-for="Numara" class="form-control" />
    </div>

    <div>
        <label asp-for="Bolum" class="form-label"></label>
        <input asp-for="Bolum" class="form-control" />
    </div>

    <input class="btn btn-primary" type="submit" value="Kaydet" />



</form>

